<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/src/styles.css" />
    <link rel="stylesheet" href="/src/add_unit.css" />
    <title>Додати нерухомість</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="page-name">Додати нерухомість</div>
        <div class="link"><a href="/my_account.html">Мій кабінет</a></div>
      </div>
    </nav>
    <div class="container">
      <div class="new-object-form">
        <h1>Додайте новий об'єкт нерухомості:</h1>
        <form id="newForm">
          <div class="form-field">
            <label for="inputAdress" class="form-label">Адреса</label>
            <input
              type="text"
              name="adress"
              class="form-control input-display"
              id="inputAdress"
              autocomplete="off"
            />
            <small></small>
          </div>
          <div class="form-field">
            <label for="inputArea" class="form-label">Площа</label>
            <input
              type="number"
              name="area"
              class="form-control input-display"
              id="inputArea"
              autocomplete="off"
            />
            <small></small>
          </div>
          <div class="form-field">
            <label for="inputRooms" class="form-label">Кількість кімнат</label>
            <input
              type="number"
              name="rooms"
              class="form-control input-display"
              id="inputRooms"
              autocomplete="off"
            />
            <small></small>
          </div>
          <div class="form-field">
            <label for="inputPrice" class="form-label">Ціна</label>
            <input
              type="number"
              name="price"
              class="form-control input-display"
              id="inputPrice"
              autocomplete="off"
            />
            <small></small>
          </div>

          <div class="form-field">
            <label for="inputNotes" class="form-label">Примітки</label>
            <input
              type="text"
              name="notes"
              class="form-control input-display"
              id="inputNotes"
              autocomplete="off"
            />
            <small></small>
          </div>
          <!--
          <div>
            <label for="objectPhoto"></label>
            <input
              type="file"
              class="form-control"
              id="objectPhoto"
              accept="image/jpeg, image/png"
            />
          </div> -->
          <div class="submit-button">
            <button class="btn btn-dark" type="submit">Додати</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/src/index.js"></script>
  </body>
</html>
