@model UserModel

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div id="loginForm">
        <h3>Login</h3>
        <p>
            <label>Name:</label><br />
            <input type="text" id="name" />
        </p>
        <p>
            <label>Password</label><br />
            <input type="password" id="password" />
        </p>
        <input type="submit" id="submitLogin" value="Log in!" />
        <h3>OR</h3>
        <input type="submit" id="submitRegister" value="Register" />

    </div>
    <script>
        document.getElementById("submitLogin").addEventListener("click", async e => {
            e.preventDefault();
            const response = await fetch("/api/auth/signin", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    name: document.getElementById("name").value,
                    password: document.getElementById("password").value
                })
            });
            console.log(response.status);
            document.location.href="/";
        }); 
        document.getElementById("submitRegister").addEventListener("click", async e => {
            e.preventDefault();
            const response = await fetch("/api/auth/signup", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    name: document.getElementById("name").value,
                    password: document.getElementById("password").value
                })
            });
            console.log(response.status);
            document.location.href="/";
        }); 
    </script>
</body>